[submodule "submodules/nanogui"]
	path = ext/nanogui
	url = https://github.com/wjakob/nanogui.git
[submodule "submodules/glfw"]
	path = ext/glfw
	url = https://github.com/glfw/glfw.git
[submodule "ext/spectra"]
	path = ext/spectra
	url = https://github.com/yixuan/spectra.git
